<img src="https://i.redd.it/6brfmxf7b8ga1.png" alt="Italian Trulli">

### Exercise on data types

## <font color='red'>What data type would that be?</font>

In [1]:
x = 5
print(type(x)) #class 'int'

<class 'int'>

In [2]:
x = "Hello World"
print(type(x)) #class 'str'

<class 'str'>

In [3]:
 x = 20.5
print(type(x)) #class 'float'

<class 'float'>

In [4]:
x = ["apple", "banana", "cherry"]
print(type(x)) #class 'list'

<class 'list'>

In [5]:
x = ("apple", "banana", "cherry")
print(type(x)) #class 'tuple'

<class 'tuple'>

In [6]:
x = {"name" : "John", "age" : 36}
print(type(x)) #class 'dict'

<class 'dict'>

In [7]:
x = True
print(type(x)) #class 'bool'

<class 'bool'>

## Exercise on Numbers

#### Insert the correct syntax to convert x into a floating point number.

In [8]:
x = 5
x =float(x)
print(type(x),x) #class 'float'> 5.0

<class 'float'> 5.0

### Insert the correct syntax to convert x into a integer.

In [9]:
x = 5.5
x =int(x) #class 'int'> 5
print(type(x),x)

<class 'int'> 5

## Exercise on string

### Use the `len()` function to print the length of the string.

In [10]:
x = "Hello World"
print(len(x)) #11

11

### Get the first character of the string txt.

In [11]:
txt = "Hello World"
x = txt[0] #H
print(x)

H

### Get the characters from index 2 to index 4 (llo).

In [30]:
txt = "Hello World"
print(txt[2:5]) #llo

llo

##### Return the string without any whitespace at the beginning or the end.
##### hint ` txt.strip()`

In [13]:
txt = " Hello World "
print(txt.strip()) #Hello World

### Convert the value of `txt` to upper case.

In [32]:
txt = "Hello World"
txt = txt.upper()
print(txt) #HELLO WORLD

HELLO WORLD

### Convert the value of `txt` to lower case.

In [33]:
txt = "Hello World"
txt = txt.lower()
print(txt) #hello world

hello world

#### Replace the character` H` with a `J`

In [37]:
txt = "Hello World"
print(txt.replace("H","a" )) #aello World

aello World

#### Insert the correct syntax to add a placeholder for the age parameter.

In [17]:
age = 36
txt = f"My name is John, and I am ..."
print((txt),age)

### Exercise on Booleans

The statement below would print a Boolean value, which one?

In [38]:
print(10 > 9) #True

True

The statement below would print a Boolean value, which one?

In [39]:
print(10 == 9) #False

False

The statement below would print a Boolean value, which one?

In [20]:
print(10 < 9) #False

### <font color='gold'>Exercise-1</font>

#### Write a Python program to print the following string in a specific format

In [3]:
#Twinkle, twinkle, little star,
# 	How I wonder what you are!
# 		Up above the world so high,
# 		Like a diamond in the sky.
# Twinkle, twinkle, little star,
# 	How I wonder what you are!

l1= "Twinkle, twinkle, little star"
l2= "How I wonder what you are!"
l3= "Up above the world so high"
l4= "Like a diamond in the sky."
print(l1,"\n",l2,"\n"," ",l3,"\n"," ",l4,"\n",l1,"\n","",l2)

Twinkle, twinkle, little star
 How I wonder what you are!
   Up above the world so high
   Like a diamond in the sky.
 Twinkle, twinkle, little star
  How I wonder what you are!

### <font color='gold'>Exercise-2</font>

In [17]:
#### Write a Python program that print the user's first and last name and prints them in reverse order with a space between them.
print ("enter your first name")
FirstN=input()
print ("enter your last name")
lastN=input()
print(FirstN,lastN)
print(lastN,FirstN)

enter your first name

 khaled

enter your last name

 hafez

khaled hafez
hafez khaled

### <font color='gold'>Exercise-3</font>

In [18]:
#### Write a Python program that calculates the area of a circle and radius = 1.1
r=1.1
pi=3.14
area=pi*r*r
print("area of circle = ",area)

area of circle =  3.7994000000000008

### <font color='gold'>Exercise-4</font>

In [19]:
#### Write a Python program that accepts a filename from the user and prints the extension of the file.
file=input("input the filename:")
x=file.split(".")
print("the extension of the file is:",(x[1]))

input the filename: ks.pdf

the extension of the file is: pdf

Sample Output:
Input the Filename: abc.java                                                                                  
The  extension of the file is : 'java'

### <font color='gold'>Exercise-5</font>

In [24]:
#### Covert from string to list and tuple value ="Amit"
value = "Amit"
l = list(value)
print("List:", l)

List: ['A', 'm', 'i', 't']

 ## After that

In [25]:
### Relace the index 3 in the list
l[3] = 'k'
print("List after replacing index 3:", l)

List after replacing index 3: ['A', 'm', 'i', 'k']

In [26]:
 ### Convert the list to string and print the list
 s = ''.join(l)
print("List converted to string:", s)

List converted to string: Amik

### <font color='gold'>Exercise-6</font>

#### Write a Python program to display the first and last colors from the following list.

#### color_list = ["Red","Green","White" ,"Black"]

<img src="https://www.w3resource.com/w3r_images/python-basic-image-exercise-8.png" alt="Italian Trulli">

In [30]:
color = ["Red","Green","White" ,"Black"]
print ((color[0]),(color[3]))

Red Black

## <font color='gold'>Exercise-7</font>

#### Write a Python program to print the following 'here document'.

In [5]:
string = """"Sample Output:
a string that you "don't" have to escape
 This
 is a  ....... multi-line
 heredoc string"""
print(string)

"Sample Output:
a string that you "don't" have to escape
 This
 is a  ....... multi-line
 heredoc string

## <font color='gold'>Exercise- 8</font>

In [31]:
###### I need to  check if  link `https://www.google.com/` strart with https or not and if the ` aimt4536@gmail.com` end with .com
link="https://www.google.com/"
print(link.startswith("https"))
e_mail=" aimt4536@gmail.com"
print(e_mail.endswith(".com"))

True
True

# Thanks ❤

<img src="https://pbs.twimg.com/media/ELwC6EgXYAE8AtN.jpg" alt="Italian Trulli">