In [4]:
### 1) Write a program to print the maximum between two numbers. (one-line conditional statement)
n1=7
n2=5
print('n1 is maximum') if n1>n2 else (print('n2 is maximum') if n2>n1 else print('eual'))

n1 is maximum

In [12]:
### 2) Write a program to find the maximum between three numbers.
n1=7
n2=5
n3=3
if n1>=n2 & n1>= n3: 
    print('n1 is maximum') 
elif n2>=n1 & n2>= n3:
        print('n2 is maximum') 
elif n3>=n1 & n3>= n2:
        print('n3 is maximum') 
else:
    print ('wrong')

n1 is maximum

In [15]:
### 3) Write a program to check whether a number is negative, or positive (one-line conditional statement)
n1=-2
print('number is positive') if n1>0 else (print('number is negative'))

number is negative

In [21]:
# 4) Write a  program to check whether a number is even or odd  (one-line statement).
x=4
result= "even"if x % 2 ==0 else "odd"
print (x,'is', result)

4 is even

In [26]:
###5) Write a  program to check whether a year is a leap year or not. (one-line conditional statement).
year=2024
result= "leap"if year % 4 ==0 else "not"
print (year,'is', result)

2024 is leap

In [1]:
###6) Write a  program to store the weekdays in a list and access the week day and print it by index.
weekdays=['satutday','sunday','monday','tuseday','wednesday','tursday','friday']
print(weekdays[1])

sunday

In [31]:
###7) Write a  program to print all alphabets from a to z using while loop
for x in "abcdefghijklmnopqrstuvwxyz":
    print (x)

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [ ]:
###8)Write a program to store numbers in the List and print its reverse
list=[0,1,2,3,4,5]
list1=list.reverse
print list1

In [21]:
### 9) Write a program to print the multiplcation table of any number
n=int(input('input number')) 
x=n
for i in range (n):
    print(n*x)
    x=x-1

input number 4

16
12
8
4

###10)Write a program to print all even numbers between 1 to 100.(using while loop)

In [ ]:
y=100
while y>=2:
    print(n)
    y-=2